* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Poppins", sans-serif;
}

.col-md-5,
.upper-half,
.lower-half {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  border-radius: 15px;
}

.card-1 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.col-md-5 h3,
select,
input {
  margin: 8% auto;
}

.col-md-5 h3,
.col-md-6 h3 {
  text-align: center;
  margin-top: 5%;
}

.col-md-6 p {
  text-align: center;
  font-size: x-large;
}

h1 {
  text-align: center;
  margin-top: 3vh;
}

.btn {
  border-radius: 90px;
  margin: auto;
  display: block;
  margin-bottom: 5%;
}

.upper-half,
.lower-half {
  width: 100%;
}

ul,
li {
  width: 100%;
}

li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

ul li span {
  color: #808080;
}

.upper-half p {
  color: #2979ff;
  font-weight: bold;
}

#calc-btn {
  margin-bottom: 5%;
}

.error{
  border: 1px solid #B00020;
}
